*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;

}
.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3), rgba(12,3,51,0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
}
nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pad:20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}
nav ul li{
    text-decoration: none;
    color: #621111;
    font-size: 17px;

}
.content{
    text-align: center;
}
.content h1{
    font-size: 120px;
    color: #d4d4d4;
    font-weight: 600;
    transition: 05.s;

}
.content h1:hover{
-webkit-text-stroke: 2px black;
color: turquoise;

}
.content a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
}
.back-Video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;    

}
@media (min-aspect-ratio: 16/9) {
    .video{
        width: 100%;
        height: auto;

    /* }hii border: ek min rukna na ok; */
}
@media (max-aspect-ratio: 16/9) {
    .video{
        width: auto;
        height: 100%;
        
    }
}
.exp-btn{
    width: 160px;
    height: 50px;
    text-align: center;
    cursor:pointer;
    font-weight: ;


    /* padding-left :80px;
    padding-bottom:  125px;
    margin-top: 100px;
    background-color: white;
    border:none;
    border-style: none;
    border-radius: 2px;
    color:red;
    text-decoration:none;
    font-size: 100px; */
    
}
/* button create ho rha h bas ek galti ho gya th */
